# LiveKit
LIVEKIT_API_KEY=xxxxxx
LIVEKIT_API_SECRET=xxxxxxxxxxxxxxx
LIVEKIT_URL=wss://xxxxxxxxxx.livekit.cloud
LIVEKIT_AGENT_NAME=baskin-avatar
LIVEKIT_AGENT_IDENTITY_PREFIX=baskin-avatar

# LLM
DEEPGRAM_API_KEY=xxxxxxxxxxxxxxxxx
CARTESIA_API_KEY=xxxxxxxxxxxxxxxxx
OPENAI_API_KEY=xxxxxxxxxxxxxxxxxxx
SIMLI_API_KEY=xxxxxxxxxxxxxxxxx
SIMLI_FACE_ID=xxxxxxxxxxxxxxxxxxx  # Optional, already set as default